/* configuracion de cada foto  */

body {
    
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #800080; /* Morado fuerte al pasar el cursor */
}


.FotoDescripcion {

   text-align: center;
    margin-bottom: 30px; /* Aumenta el margen inferior */
}

.FotoDescripcion p {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    font-size: 16px; 
}

.FotoDescripcion img {
    width: 400px; 
    height: 400px; 
    object-fit: cover; /*reyena con contenido */
    border-radius: 5px;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255); 
    margin-bottom: 20px;
    color: orange;
}

p4 {
    color: red;
    font-size: 24px;
}

.superclass{
    text-align: center;
}
.card {
    width: 250px;
    height: 240px;
 
    border-radius: 10px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white; /* Color de fondo de la tarjeta */
  
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}